<div class="container component" data-component-id="{{ componentId }}">
  <section class="py-5-nav">
    <div class="section-title justify-content-center">
      <h1>Privacy Policy</h1>
    </div>
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <div class="bg-gray rounded p-4 editor">
          {{ privacy_policy | safe }}
        </div>
      </div>
    </div>
  </section>
</div>